[Unit]
Description=QEMU virtual machine (%i)
After=network.target netctl@br0.service

[Service]
Type=oneshot
Type=forking
PIDFile=/run/qemu_%i.pid

ExecStartPre=/usr/bin/ip tuntap add tap_%i mode tap user root
ExecStartPre=/usr/bin/ip link set tap_%i up
ExecStartPre=/usr/bin/ip link set tap_%i master br0

ExecStart=/usr/bin/qemu-system-x86_64 -name %i -daemonize -pidfile /run/qemu_%i.pid -monitor unix:/tmp/%i.sock,server,nowait -net nic,model=virtio,macaddr=${MAC} -net tap,ifname=tap_%i,script=no,downscript=no -boot order=c -drive file=${FILE} -machine type=pc,accel=kvm -vnc :${VNC} -cpu host -m 2G

#ExecStart=/bin/echo %i
#ExecStart=/bin/echo $jonas
#ExecStart=/bin/echo a=${MAC}
#ExecStart=/bin/echo $MAC

ExecStop=/bin/sh -c '/usr/bin/echo system_powerdown | /usr/bin/socat - UNIX-CONNECT:/tmp/%i.sock; while ps ax | grep "/usr/bin/qemu-system-x86_64 -name %i" | grep -vq grep; do sleep 1; done'
TimeoutStopSec=30
ExecStopPost=/usr/bin/ip link delete tap_%i

[Install]
WantedBy=multi-user.target
